.card_widget.card-links
  .card-content
    .item_headline
      i.fa.fa-handshake-o(aria-hidden="true")
      span= _p('aside.card_links')
    each i in site.data.link
        if(i.class_name === "友情链接")
            ul.aside_category_item
              each item,index in i.link_list
                if(index <= theme.aside.card_links.num)
                    li.aside_category_list
                      a(href=item.link  title=item.name+" : "+item.descr target="_blank")
                         img.lozad(data-src=item.avatar alt=item.name onerror=`onerror=null;src='${theme.lodding_bg.flink}'` height="35px")
                         item=item.name
              li.aside_category_list.find_more
                a(href=theme.aside.card_links.flink  target="_blank") 查看更多